interfaces/spinxml/spinxml_schema.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="vector">
        <xs:attribute name="x"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="y"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="z"
                      type="xs:double"
                      use="required" />
    </xs:complexType>

    <xs:complexType name="matrix">
        <xs:attribute name="xx"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="xy"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="xz"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="yx"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="yy"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="yz"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="zx"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="zy"
                      type="xs:double"
                      use="required" />
        <xs:attribute name="zz"
                      type="xs:double"
                      use="required" />
    </xs:complexType>

    <xs:complexType name="rotation">
        <xs:choice minOccurs="1"
                   maxOccurs="1">
            <xs:element name="euler_angles">
                <xs:complexType>
                    <xs:attribute name="alpha"
                                  type="xs:double"
                                  use="required" />
                    <xs:attribute name="beta"
                                  type="xs:double"
                                  use="required" />
                    <xs:attribute name="gamma"
                                  type="xs:double"
                                  use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="angle_axis">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="angle"
                                    minOccurs="1"
                                    maxOccurs="1">
                            <xs:complexType>
                                <xs:attribute name="phi"
                                              type="xs:double"
                                              use="required" />
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="axis"
                                    type="vector"
                                    minOccurs="1"
                                    maxOccurs="1" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="quaternion">
                <xs:complexType>
                    <xs:attribute name="re"
                                  type="xs:double"
                                  use="required" />
                    <xs:attribute name="i"
                                  type="xs:double"
                                  use="required" />
                    <xs:attribute name="j"
                                  type="xs:double"
                                  use="required" />
                    <xs:attribute name="k"
                                  type="xs:double"
                                  use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="dcm"
                        type="matrix" />
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="interaction_term">
        <xs:choice minOccurs="1"
                   maxOccurs="1">
            <xs:element name="scalar">
                <xs:complexType>
                    <xs:attribute name="iso"
                                  type="xs:double"
                                  use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="tensor"
                        type="matrix" />
            <xs:sequence>
                <xs:choice minOccurs="1"
                           maxOccurs="1">
                    <xs:element name="eigenvalues">
                        <xs:complexType>
                            <xs:attribute name="xx"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="yy"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="zz"
                                          type="xs:double"
                                          use="required" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="axiality_rhombicity">
                        <xs:complexType>
                            <xs:attribute name="iso"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="ax"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="rh"
                                          type="xs:double"
                                          use="required" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="span_skew">
                        <xs:complexType>
                            <xs:attribute name="iso"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="span"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="skew"
                                          type="xs:double"
                                          use="required" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="aniso_asymm">
                        <xs:complexType>
                            <xs:attribute name="iso"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="aniso"
                                          type="xs:double"
                                          use="required" />
                            <xs:attribute name="asymm"
                                          type="xs:double"
                                          use="required" />
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element name="orientation"
                            type="rotation" />
            </xs:sequence>
        </xs:choice>
        <xs:attribute name="kind"
                      use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="hfc" />
                    <xs:enumeration value="shielding" />
                    <xs:enumeration value="shift" />
                    <xs:enumeration value="dipolar" />
                    <xs:enumeration value="quadrupolar" />
                    <xs:enumeration value="jcoupling" />
                    <xs:enumeration value="gtensor" />
                    <xs:enumeration value="zfs" />
                    <xs:enumeration value="exchange" />
                    <xs:enumeration value="spinrotation" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="id"
                      type="xs:integer"
                      use="required" />
        <xs:attribute name="units"
                      use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Hz" />
                    <xs:enumeration value="kHz" />
                    <xs:enumeration value="MHz" />
                    <xs:enumeration value="GHz" />
                    <xs:enumeration value="ppm" />
                    <xs:enumeration value="bohr" />
                    <xs:enumeration value="gauss" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="spin_a"
                      type="xs:integer"
                      use="required" />
        <xs:attribute name="spin_b"
                      type="xs:integer"
                      use="optional" />
        <xs:attribute name="reference"
                      type="xs:string"
                      use="optional" />
        <xs:attribute name="label"
                      type="xs:string"
                      use="optional" />
    </xs:complexType>

    <xs:complexType name="spin_system">
        <xs:sequence minOccurs="1"
                     maxOccurs="1">
            <xs:element name="spin"
                        minOccurs="0"
                        maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence minOccurs="0"
                                 maxOccurs="1">
                        <xs:element name="coordinates"
                                    type="vector" />
                    </xs:sequence>
                    <xs:attribute name="id"
                                  type="xs:integer"
                                  use="required" />
                    <xs:attribute name="isotope"
                                  type="xs:string"
                                  use="required" />
                    <xs:attribute name="label"
                                  type="xs:string"
                                  use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="interaction"
                        type="interaction_term"
                        minOccurs="0"
                        maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:element name="spin_system" 
                type="spin_system" />

</xs:schema>
